<% include patials/header %>
<form method="POST" action="/add">
  <label>Name</label><br>
  <input type="text" name="name"><br>
  <input type="submit" value="submit">
</form>

<% include patials/footer %>